nav {
  height: $nav-height;
  width: 100%;
  background-color: $color-back-light-1;
  color: $color-text-dark-2;
  z-index: 96;
  transition: $transition-normal;
  @include shadow-box(12px);

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;

    &.hide-on-scroll {
      &.not-top.scroll-down {
        transform: translateY(-100%);
      }
    }
  }

  & > .nav-container {
    & > .nav-elements {
      & > .element {
        & > .nav-items {
          & > .nav-item {
            display: flex;
            align-items: center;
            padding: 0 16px;
            border-radius: 4px;
            transition: $transition-normal;
            cursor: pointer;

            &:hover {
              background-color: $color-back-primary-3;
            }
          }

          & > .nav-divider {
            height: 100%;
            padding: 8px 2px;

            &:after {
              content: '';
              display: block;
              height: 100%;
              width: 1px;
              background-color: $color-back-dark-3;
            }
          }
        }
      }
    }
  }
}

.dark nav {
  background-color: $color-primary-dark-1;
  color: $color-text-light-2;

  & > .nav-container {
    & > .nav-elements {
      & > .element {
        & > .nav-items {
          & > .nav-item {
            &:hover {
              background-color: $color-primary-dark-2;
            }
          }

          & > .nav-divider {
            &:after {
              background-color: $color-back-light-3;
            }
          }
        }
      }
    }
  }
}
