a {
  color: unset;
  text-decoration: unset;
  cursor: pointer;
}

/* text */

a.text {
  color: $color-primary-3;

  &:hover {
    text-decoration: underline;
  }
}

.dark a.text {
  color: $color-accent-light;
}

/* secondary */

a.secondary {
  color: $color-text-dark-2;

  &:hover {
    text-decoration: underline;
  }
}

.dark a.secondary {
  color: $color-text-light-2;
}

/* no-color */

a.no-color {
  &:hover {
    text-decoration: underline;
  }
}
