button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  &::-moz-focus-inner {
    border: 0;
  }

  padding: 8px 16px;
  max-width: 100%;

  text-align: center;
  font-weight: 700;
  font-size: 0.85rem;
  font-family: $typography-base-font;
  text-transform: uppercase;
  color: $color-text-dark-1;

  background-color: transparent;
  border: 1px solid $color-text-dark-1;
  border-radius: 4px;

  transition: $transition-normal;
  cursor: pointer;

  &:hover:not([disabled]) {
    background-color: $color-back-dark-3;
  }

  &:active:not([disabled]) {
    background-color: $color-back-dark-3;
  }

  &.full-width {
    width: 100%;
  }

  &.fixed-width {
    min-width: $button-min-width;
  }

  &:focus {
    box-shadow: 0 0 0 1px $color-back-primary, 0 0 0 3px $color-back-primary-2;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.dark button {
  border-color: $color-text-light-1;
  color: $color-text-light-1;

  &:hover:not([disabled]) {
    background-color: $color-back-light-3;
  }

  &:active:not([disabled]) {
    background-color: $color-back-light-3;
  }

  &:focus {
    box-shadow: 0 0 0 1px $color-back-primary, 0 0 0 3px $color-back-primary-2;
  }
}

.button-group {
  & > * {
    margin: 0 8px;
  }
}

/* primary */

button.primary {
  border: 0;
  background-color: $color-primary-2;
  color: $color-text-light-1;

  &:hover:not([disabled]) {
    background-color: $color-primary-1;
  }

  &:active:not([disabled]) {
    background-color: $color-primary-1;
  }
}

/* secondary */

button.secondary {
  border-color: $color-primary-2;
  color: $color-primary-2;

  &:hover:not([disabled]) {
    background-color: $color-back-light-3;
    border-color: $color-primary-1;
    color: $color-primary-1;
  }

  &:active:not([disabled]) {
    background-color: $color-back-dark-3;
    border-color: $color-primary-1;
    color: $color-primary-1;
  }
}

.dark button.secondary {
  border-color: $color-text-light-2;
  color: $color-text-light-1;

  &:hover:not([disabled]) {
    border-color: $color-text-light-1;
    color: $color-text-light-1;
  }

  &:active:not([disabled]) {
    border-color: $color-text-light-1;
    color: $color-text-light-1;
  }
}

/* tertiary */

button.tertiary {
  border: 0;
  color: $color-text-dark-2;

  &:hover:not([disabled]) {
    background-color: $color-back-dark-3;
    color: $color-text-dark-1;
  }

  &:active:not([disabled]) {
    background-color: $color-back-dark-3;
    color: $color-text-dark-1;
  }
}

.dark button.tertiary {
  color: $color-text-light-2;

  &:hover:not([disabled]) {
    background-color: $color-back-light-3;
    color: $color-text-light-1;
  }

  &:active:not([disabled]) {
    background-color: $color-back-light-3;
    color: $color-text-light-1;
  }
}

/* danger */

button.danger {
  border: 0;
  background-color: $color-danger;
  color: $color-text-light-1;

  &:hover:not([disabled]) {
    background-color: $color-danger-light;
  }

  &:active:not([disabled]) {
    background-color: $color-danger-light;
  }
}

/* danger-secondary */

button.danger-secondary {
  border: 0;
  color: $color-danger;

  &:hover:not([disabled]) {
    background-color: $color-back-dark-3;
  }

  &:active:not([disabled]) {
    background-color: $color-back-dark-3;
  }
}

.dark button.danger-secondary {
  color: $color-danger-light;

  &:hover:not([disabled]) {
    background-color: $color-back-light-3;
  }

  &:active:not([disabled]) {
    background-color: $color-back-light-3;
  }
}

/* small */
button.small {
  padding: 2px 4px;
  border: 0;
  color: $color-text-dark-2;

  &:hover:not([disabled]) {
    background-color: $color-back-dark-3;
    color: $color-text-dark-1;
  }

  &:active:not([disabled]) {
    background-color: $color-back-dark-3;
    color: $color-text-dark-1;
  }
}

.dark button.small {
  color: $color-text-light-2;

  &:hover:not([disabled]) {
    background-color: $color-back-light-3;
    color: $color-text-light-1;
  }

  &:active:not([disabled]) {
    background-color: $color-back-light-3;
    color: $color-text-light-1;
  }
}
