button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &::-moz-focus-inner {
    border: 0;
  }

  padding: 8px 16px;
  margin-left: $button-margin;
  margin-right: $button-margin;

  text-align: center;
  font-weight: 700;
  font-size: 0.85rem;
  font-family: $typography-base-font;
  text-transform: uppercase;
  color: $color-text-dark-1;

  background-color: transparent;
  border: 1px solid $color-text-dark-1;
  border-radius: 4px;

  transition: $transition-normal;
  cursor: pointer;

  &:hover {
    background-color: $color-back-dark-3;
  }

  &:active {
    background-color: $color-back-dark-3;
  }

  &.fixed-width {
    min-width: $button-min-width;
  }
}

.dark button {
  border-color: $color-text-light-1;
  color: $color-text-light-1;

  &:hover {
    background-color: $color-back-light-3;
  }

  &:active {
    background-color: $color-back-light-3;
  }
}

/* primary */

button.primary {
  border: 0;
  background-color: $color-primary-2;
  color: $color-text-light-1;

  &:hover {
    background-color: $color-primary-1;
  }

  &:active {
    background-color: $color-primary-1;
  }
}

.dark button.primary {
  background-color: $color-primary-2;
  color: $color-text-light-1;

  &:hover {
    background-color: $color-primary-1;
  }

  &:active {
    background-color: $color-primary-1;
  }
}

/* secondary */

button.secondary {
  border-color: $color-primary-2;
  color: $color-primary-2;

  &:hover {
    background-color: $color-back-light-3;
    border-color: $color-primary-1;
    color: $color-primary-1;
  }

  &:active {
    background-color: $color-back-dark-3;
    border-color: $color-primary-1;
    color: $color-primary-1;
  }
}

.dark button.secondary {
  border-color: $color-text-light-2;
  color: $color-text-light-1;

  &:hover {
    border-color: $color-text-light-1;
    color: $color-text-light-1;
  }

  &:active {
    border-color: $color-text-light-1;
    color: $color-text-light-1;
  }
}

/* tertiary */

button.tertiary {
  border: 0;
  color: $color-text-dark-2;

  &:hover {
    background-color: $color-back-dark-3;
    color: $color-text-dark-1;
  }

  &:active {
    background-color: $color-back-dark-3;
    color: $color-text-dark-1;
  }
}

.dark button.tertiary {
  color: $color-text-light-2;

  &:hover {
    background-color: $color-back-light-3;
    color: $color-text-light-1;
  }

  &:active {
    background-color: $color-back-light-3;
    color: $color-text-light-1;
  }
}
