dl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0;
  width: 100%;

  & > dt,
  & > dd {
    padding-left: 8px;
    padding-right: 8px;
  }

  & > dt {
    display: block;
    width: $description-label-width;
    text-align: right;
    font-weight: 700;
  }

  & > dd {
    display: block;
    width: $description-item-width;
  }
}
