.listgroup {
  padding: 4px;
  border-radius: 4px;

  & > .listgroup-items {
    & > .listgroup-item {
      width: 100%;
      border-left: 2px solid transparent;
      border-radius: 4px;

      &:hover {
        background-color: $color-back-primary-3;
      }

      &.active {
        border-color: $color-primary-1;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    & > .listgroup-header {
      font-weight: 700;
    }

    & > .listgroup-divider {
      height: 1px;
      background-color: $color-back-dark-3;
    }
  }

  &.sm {
    width: $listgroup-sm-size;
  }

  &.md {
    width: $listgroup-md-size;
  }

  &.lg {
    width: $listgroup-lg-size;
  }

  &.padded > .listgroup-items {
    & > .listgroup-item {
      padding: 4px 8px;
    }

    & > .listgroup-header {
      padding: 4px 8px;
    }
    & > .listgroup-divider {
      margin: 4px 8px;
    }
  }
}

.dark .listgroup {
  border-color: $color-back-light-3;

  & > .listgroup-items {
    & > .listgroup-item {
      &:hover {
        background-color: $color-back-light-3;
      }
    }

    & > .listgroup-divider {
      background-color: $color-back-light-3;
    }
  }
}
