/* background and text color */
html,
body {
  background-color: $color-body-background;
  color: $color-text-dark-1;
}

.light {
  color: $color-text-dark-1;
}
.dark {
  color: $color-text-light-1;
}
body.dark {
  background-color: $color-primary-dark-3;
}
.dark-background {
  background-color: $color-primary-dark-3;
}

/* fonts */
html,
body {
  font-size: $typography-base-size;
  font-family: $typography-base-font;
  line-height: $typography-line-height;
  letter-spacing: normal;
  font-weight: 400;
  overflow-wrap: break-word;
}

/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-weight: 700;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.875em;
}
small {
  font-size: 0.875em;
}

h1,
h2,
h3 {
  small {
    font-size: 0.75em;
  }
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

code,
pre {
  font-family: $typography-mono-font;
}

hr {
  display: block;
  height: 1px;
  border: none;
  background-color: $color-back-dark-3;
}

.dark hr {
  background-color: $color-back-light-3;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-unset {
  text-align: unset;
}
