// Typography //
$typography-base-font: 'Inter', Roboto, Arial, sans-serif !default;
$typography-base-size: 14px !default;
$typography-line-height: 1.5 !default;
$typography-mono-font: 'Hack', monospace !default;

// Article //
$article-font: 'Merriweather', Georgia, Palatino, serif !default;
$article-font-size: 16px !default;
$article-width: 48rem !default;
$article-line-height: 2 !default;

// Button //
$button-min-width: 6rem !default;

// Comment width //
$comment-width: 48rem !default;

// Card //
$card-sm-size: 256px !default;
$card-md-size: $card-sm-size * 1.5 !default;
$card-lg-size: $card-md-size * 1.5 !default;

// Container //
$container-padding: 8px 16px !default;

// Description //
$description-label-width: 25% !default;
$description-item-width: 75% !default;

// Footer //
$footer-padding-top: 64px !default;
$footer-padding-bottom: 128px !default;

// Form //
$form-width: 256px !default;
$form-width-wide: $form-width * 2 !default;
$form-popover-max-height: 20rem !default;

// Grid //
$grid-sm-breakpoint: 512px * 1.5 !default;
$grid-md-breakpoint: $grid-sm-breakpoint * 1.5 !default;
$grid-lg-breakpoint: $grid-md-breakpoint * 1.5 !default;
$grid-padding: 8px !default;

// Image //
$image-mobile-size: 1024px !default;

// ListGroup //
$listgroup-sm-size: 256px !default;
$listgroup-md-size: $listgroup-sm-size * 1.5 !default;
$listgroup-lg-size: $listgroup-md-size * 1.5 !default;

// Menu //
$menu-sm-size: 128px !default;
$menu-md-size: $menu-sm-size * 1.5 !default;
$menu-lg-size: $menu-md-size * 1.5 !default;

// Nav //
$nav-height: 56px !default;

// Section //
$section-padding: $nav-height 0 !default;

// Snackbar //
$snackbar-padding: 16px !default;

// Table //
$table-padding: 8px !default;

// Transitions //
$transition-normal: 0.125s cubic-bezier(0.375, 0, 0.25, 1) !default;
$transition-fast: 0.0625s cubic-bezier(0.375, 0, 0.25, 1) !default;
$transition-slow: 0.5s cubic-bezier(0.375, 0, 0.25, 1) !default;
