@mixin col-list($columns, $prefix) {
  @for $i from 1 through $columns {
    &.#{$prefix}-#{$i} {
      width: $i / $columns * 100%;
    }
  }
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: inherit;

  &.fill {
    height: 100%;
  }
  &.nowrap {
    flex-wrap: nowrap;
  }

  &.direction-row {
    flex-direction: row;
  }
  &.direction-row-reverse {
    flex-direction: row-reverse;
  }
  &.direction-column {
    flex-direction: column;
  }
  &.direction-column-reverse {
    flex-direction: column-reverse;
  }

  &.justify-flex-start {
    justify-content: flex-start;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-flex-end {
    justify-content: flex-end;
  }
  &.justify-space-between {
    justify-content: space-between;
  }
  &.justify-space-around {
    justify-content: space-around;
  }
  &.justify-space-evenly {
    justify-content: space-evenly;
  }
  &.justify-stretch {
    justify-content: stretch;
  }

  &.cjustify-flex-start {
    align-content: flex-start;
  }
  &.cjustify-center {
    align-content: center;
  }
  &.cjustify-flex-end {
    align-content: flex-end;
  }
  &.cjustify-space-between {
    align-content: space-between;
  }
  &.cjustify-space-around {
    align-content: space-around;
  }
  &.cjustify-space-evenly {
    align-content: space-evenly;
  }
  &.cjustify-stretch {
    align-content: stretch;
  }

  &.align-flex-start {
    align-items: flex-start;
  }
  &.align-center {
    align-items: center;
  }
  &.align-flex-end {
    align-items: flex-end;
  }
  &.align-flex-end {
    align-items: stretch;
  }

  & > .col {
    max-width: 100%;
    padding: $grid-padding;

    &.full-width {
      width: 100%;
    }

    @include col-list(24, 'xs');

    @media (min-width: $grid-sm-breakpoint) {
      @include col-list(24, 'sm');
    }

    @media (min-width: $grid-md-breakpoint) {
      @include col-list(24, 'md');
    }

    @media (min-width: $grid-lg-breakpoint) {
      @include col-list(24, 'lg');
    }

    &.align-flex-start {
      align-self: flex-start;
    }
    &.align-center {
      align-self: center;
    }
    &.align-flex-end {
      align-self: flex-end;
    }
    &.align-flex-end {
      align-self: stretch;
    }
  }

  &.strict > .col {
    padding: 0;
  }
}
