$listgroup-border: 1px solid $color-text-dark-4;
.listgroup {
  & > .item {
    width: 100%;
    transition: $transition-normal;
    border-left: $listgroup-border;
    border-right: $listgroup-border;

    & + .item {
      border-bottom: $listgroup-border;
    }

    &:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-top: $listgroup-border;
      border-bottom: $listgroup-border;
    }

    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &:hover {
      background-color: $color-back-base-light-4;
    }

    & > * {
      color: unset;
      text-decoration: unset;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 20px;
    }
  }

  &.sm {
    width: $listgroup-sm-size;
  }

  &.md {
    width: $listgroup-md-size;
  }

  &.lg {
    width: $listgroup-lg-size;
  }
}

body.dark {
  .listgroup {
    & > .item {
      border-color: $color-text-light-4;

      &:hover {
        background-color: $color-back-base-dark-4;
      }
    }
  }
}
