.menu-button {
  display: inline-block;
}

.menu {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 128;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.75rem;

  &.fixed {
    position: fixed;
  }

  & > .menu-container {
    position: absolute;
    background-color: $color-back-light-1;
    box-shadow: $shadow-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    z-index: 1;
    border-radius: 4px;

    & > * {
      display: block;
      width: 100%;
      padding: 8px 16px;
      transition: $transition-normal;
      color: $color-text-dark-1;
      text-decoration: unset;

      &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }

      &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &:hover {
        cursor: pointer;
        color: $color-base;
        background-color: $color-back-base-light-4;
      }
    }
  }

  & > .triangle {
    position: absolute;
    width: 32px;
    height: 16px;
    z-index: 2;
    transform: translateX(-50%);
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      left: 50%;
      z-index: 1;
      background-color: $color-back-light-1;
    }
  }

  &.left {
    & > .menu-container {
      left: 0;
    }
  }

  &.right {
    & > .menu-container {
      right: 0;
    }
  }

  &.top {
    & > .menu-container {
      bottom: 16px;
    }

    & > .triangle {
      bottom: 0;

      &:before {
        top: 0;
        transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
        box-shadow: $shadow-box-blur;
      }
    }
  }

  &.bottom {
    & > .menu-container {
      top: 16px;
    }

    & > .triangle {
      top: 0;

      &:before {
        bottom: 0;
        transform: translateX(-50%) translateY(50%) rotateZ(45deg);
        box-shadow: $shadow-box-blur;
      }
    }
  }

  &.lg {
    & > .menu-container {
      width: $menu-lg-size;
    }
  }

  &.md {
    & > .menu-container {
      width: $menu-md-size;
    }
  }

  &.sm {
    & > .menu-container {
      width: $menu-sm-size;
    }
  }
}

body.dark {
  .menu {
    & > .menu-container {
      background-color: $color-back-base-dark-3;

      & > * {
        color: $color-text-light-1-5;

        &:hover {
          color: $color-accent;
          background-color: $color-back-base-dark-2;
        }
      }
    }

    & > .triangle {
      &:before {
        background-color: $color-back-base-dark-3;
      }
    }
  }
}
