.snackbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: $snackbar-padding;
  z-index: 128;
  pointer-events: none;

  &.hidden {
    transform: translateY(100%);
    transition: transform $transition-normal;
  }

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 16px;
    border-radius: 4px;
    background-color: $color-back-dark-1;
    color: $color-text-light-1-5;
    pointer-events: auto;
  }
}
