table {
  width: $table-width;
  padding: 8px;

  &.full-width {
    width: 100%;
  }

  & > thead {
    & > tr {
      border-bottom: 2px solid $color-text-dark-4;

      & > th {
        padding: $table-padding $table-padding-h;
        text-align: left;
        font-weight: 700;

        &:first-child {
          padding-left: $table-padding-h + 8px;
        }
        &:last-child {
          padding-right: $table-padding-h + 8px;
        }
      }
    }
  }

  & > tbody {
    & > tr {
      transition: background-color $transition-fast;

      &:hover {
        background-color: $color-back-base-light-4;
      }

      & > td {
        padding: $table-padding $table-padding-h;

        &:first-child {
          padding-left: $table-padding-h + 8px;
        }
        &:last-child {
          padding-right: $table-padding-h + 8px;
        }
      }
    }
  }
}

body.dark {
  table {
    & > thead {
      & > tr {
        border-bottom: 2px solid $color-text-light-4;
      }
    }

    & > tbody {
      & > tr {
        &:hover {
          background-color: $color-back-base-light-4;
        }
      }
    }
  }
}
