@layer app {
  .demo-section {
    padding-bottom: 4px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--nuke-color-bg-3);
  }

  .demo-well {
    border: 1px solid var(--nuke-color-bg-3);
  }
}
